.intro {
   padding: 0px 0px 226px 0px;

   @media (max-width: 1520px) {
      padding: 0px 0px 50px 0px;
   }
}

.intro__container {
   padding: 0px 10px 0px 190px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   @media (max-width: 1720px) {
      padding: 0px 0px 0px 150px;
   }

   @media (max-width: 1300px) {
      padding: 0px 0px 0px 50px;
   }

   @media (max-width: 1024px) {
      padding: 0px 15px;
      flex-direction: column;
      text-align: center;
   }
}

.intro__info {
   flex: 0 1 35%;

   @media (max-width: 1024px) {
      padding: 0px 0px 20px 0px;
   }

   h1 {
      width: 100%;
      padding: 0px 0px 29px 0px;
      @include adaptive-font (75, 16);
      font-weight: 700;
      line-height: calc(100 / 75);

      span {
         color: $titleColor;
      }
   }

   p {
      padding: 0px 0px 97px 0px;
      @include adaptive-font (25, 16);
      line-height: calc(38 / 25);
      letter-spacing: 0.03em;

      @media (max-width: 1024px) {
         padding: 0px 0px 20px 0px;
         width: 70%;
         display: block;
         margin: 0 auto;
      }

   }


   a {
      display: inline-block;
      padding: 22px 41px;
      @include adaptive-font (20, 16);
      font-weight: 700;
      line-height: calc(30 / 20);
      letter-spacing: 0.03em;
      color: $whiteColor;
      background-color: $buttonColor;
      border-radius: 20px;
      transition: all 0.3s ease;

      &:hover {
         box-shadow: 0px 0px 30px $buttonColor;
      }
   }
}

.intro__pic {
   img {
      max-width: 100%;
      height: auto;
   }
}