.history {
   padding: 0px 0px 140px 0px;

   @media (max-width: ($md2 +px)) {
      padding: 0px 0px 40px 0px;
   }
}

.history__container {
   padding: 0px 25px 0px 15px;
   margin: 0 auto;
   max-width: 1782px;
   @include start-between;

   @media (max-width: 1520px) {
      align-items: center;
   }

   @media (max-width: 1024px) {
      padding: 0px 15px;
      flex-direction: column-reverse;
      text-align: center;
   }
}

.history__pic {
   margin-right: 10px;
   flex: 0 1 56%;

   @media (max-width: 1024px) {
      padding: 20px 0px 0px 0px;
      margin-right: 0px;
   }

   img {
      max-width: 100%;
      height: auto;
   }
}

.history__info {
   padding: 0px 0px 0px 0px;
   flex: 0 1 36%;

   .history-info__title {
      padding: 112px 0px 80px 0px;
      @include adaptive-font (70, 16);
      font-weight: 700;
      line-height: calc(105 / 70);
      letter-spacing: 0.03em;

      @media (max-width: 1520px) {
         padding: 27px 0px 80px 0px;
      }

      @media (max-width: 1272px) {
         padding: 27px 0px 29px 0px;
      }

      span {
         color: $titleColor;
      }
   }

   div {
      padding: 0px 0px 108px 0px;

      @media (max-width: 1272px) {
         padding: 0px 0px 97px 0px;
      }

      @media (max-width: 1024px) {
         padding: 0px 0px 50px 0px;
      }


      .history-info__descr{
         padding: 0px 0px 48px 0px;
         @include adaptive-font (25, 16);
         line-height: calc(38 / 25);
         letter-spacing: 0.03em;

         &:last-child {
            padding: 0px 0px 0px 0px;
         }

         @media (max-width: 1272px) {
            padding: 0px 0px 20px 0px;
         }

         @media (max-width: 1024px) {
            padding: 0px 0px 20px 0px;
            margin: 0 auto;
            width: 70%;
            display: block;
         }

         @media (max-width: 780px) {
            width: 100%;
         }
      }
   }

   .history-info__btn {
      padding: 22px 41px;
      display: inline-block;


      &:hover {
         box-shadow: 0px 0px 30px $buttonColor;
      }
   }
}