$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1605;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$blackColor: #000;
$whiteColor:#fff;
$buttonColor:#A3C1EF;
$mainColor:#163561;
$titleColor:#FBB400;

$pcSize: 16;
$mobSize: 16;